<a href="https://colab.research.google.com/github/Rupasri0105/ADM-LAB/blob/main/ASSIGNMENT_1(1918).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [3]:

# Load the dataset
data = pd.read_csv("employee_data.csv")

In [4]:

# Display the dataset before preprocessing
print("Dataset before preprocessing:")
print(data.head())

Dataset before preprocessing:
   Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0         1001  50.0  108953.0               9.0                   36
1         1002  36.0   82995.0               8.0                   59
2         1003  29.0   70757.0               2.0                   30
3         1004  42.0   39692.0               1.0                   30
4         1005  40.0   75758.0               7.0                   54

In [5]:
# Step 2: Handle missing values
# Impute missing values for numerical columns using mean or median
numerical_cols = ['Age', 'Salary', 'Job_Satisfaction']
for col in numerical_cols:
    data[col].fillna(data[col].mean(), inplace=True)  # Impute with mean

<ipython-input-5-732814fa1aa3>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)  # Impute with mean

In [6]:
# Impute missing values for categorical columns using mode
categorical_cols = data.select_dtypes(include=['object']).columns
for col in categorical_cols:
    data[col].fillna(data[col].mode()[0], inplace=True)

In [7]:

# Step 3: Feature scaling
# Min-Max Scaling (for Age and Salary)
min_max_scaler = MinMaxScaler()
data[['Age_MinMax', 'Salary_MinMax']] = min_max_scaler.fit_transform(data[['Age', 'Salary']])

In [8]:
# Manual Min-Max Scaling
for col in ['Age', 'Salary']:
    data[f"{col}_MinMax_Manual"] = (data[col] - data[col].min()) / (data[col].max() - data[col].min())

In [9]:

# Standardization (Z-score normalization) (for Job_Satisfaction, Work_Hours_Per_Week)
standard_scaler = StandardScaler()
data[['Job_Satisfaction_Z', 'Work_Hours_Z']] = standard_scaler.fit_transform(data[['Job_Satisfaction', 'Work_Hours_Per_Week']])

In [10]:
# Manual Standardization
for col in ['Job_Satisfaction', 'Work_Hours_Per_Week']:
    data[f"{col}_Z_Manual"] = (data[col] - data[col].mean()) / data[col].std()

In [11]:

# Display the dataset after preprocessing
print("\nDataset after preprocessing:")
print(data.head())

Dataset after preprocessing:
   Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week  \
0         1001  50.0  108953.0               9.0                   36
1         1002  36.0   82995.0               8.0                   59
2         1003  29.0   70757.0               2.0                   30
3         1004  42.0   39692.0               1.0                   30
4         1005  40.0   75758.0               7.0                   54

   Age_MinMax  Salary_MinMax  Age_MinMax_Manual  Salary_MinMax_Manual  \
0    0.750000       0.877708           0.750000              0.877708
1    0.361111       0.585375           0.361111              0.585375
2    0.166667       0.447554           0.166667              0.447554
3    0.527778       0.097707           0.527778              0.097707
4    0.472222       0.503874           0.472222              0.503874

   Job_Satisfaction_Z  Work_Hours_Z  Job_Satisfaction_Z_Manual  \
0            1.432782     -0.905969                   1.418381
1            1.017483      1.483629                   1.007256
2           -1.474311     -1.529343                  -1.459494
3           -1.889610     -1.529343                  -1.870619
4            0.602184      0.964151                   0.596131

   Work_Hours_Per_Week_Z_Manual
0                     -0.896864
1                      1.468717
2                     -1.513972
3                     -1.513972
4                      0.954461

In [12]:
# Save the processed dataset to a new CSV file
data.to_csv("processed_employee_data.csv", index=False)
print("Processed dataset saved as 'processed_employee_data.csv'")

Processed dataset saved as 'processed_employee_data.csv'